body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#form-persona {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 40px;
}

label, input {
    padding: 5px 0px;
}